{% extends "templates/admin.twig" %}

{% block mainContent %}
    <h1 class="page-header">
        {{ pageHeader|capitalize }}
    </h1>

    <div class="col-sm-9 col-md-10 main">
        <div class="col-md-6">

            <h3>Beskrivning:</h3>
            <p>{{ group.description|capitalize }}</p>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Användare i denna grupp</h3>
                </div>
                {% for user in users %}
                    <div class="panel-body">
                        {{ user.username|capitalize }}
                    </div>
                {% endfor %}
            </div>

            <p>{{ dump(group) }}</p>

        </div>
        <div class="col-md-6">
            <h2>Resurser</h2>

            <ul class="list-group">
                {% for resource in resources %}
                    <li class="list-group-item">
                        <form action="{{ siteUrl }}admin/group/{{ group.id }}" method="post">
                            <a class="label {% if resource.crudc %}label-success {% else %} label-danger{% endif %}">C</a>
                            <input type="checkbox" name="crudc" {% if resource.crudc %} checked {% endif %} />

                            <a class="label {% if resource.crudr %}label-success {% else %} label-danger{% endif %}">R</a>
                            <input type="checkbox" name="crudr" {% if resource.crudr %} checked {% endif %} />

                            <a class="label {% if resource.crudu %}label-success {% else %} label-danger{% endif %}">U</a>
                            <input type="checkbox" name="crudu" {% if resource.crudu %} checked {% endif %} />

                            <a class="label {% if resource.crudd %}label-success {% else %} label-danger{% endif %}">D</a>
                            <input type="checkbox" name="crudd" {% if resource.crudd %} checked {% endif %} />

                            <input type="hidden" name="resourceid" value="{{ resource.id }}">
                            <input type="submit" value="Spara" class="btn btn-default"/>
                            {{ resource.name|capitalize }}
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock mainContent %}